<div class="row">
    <div class="col s8">
        <h4>Bank account</h4>
        <p>You need a bank account to
            save money or take a loan.</p>
      <div class="row">
        <div class="col m12">
          <mat-form-field>
            <input matInput placeholder="Account name" formControlName="account_name" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col m12">
            <mat-form-field>
              <input matInput placeholder="Account number" type="number" formControlName="account_number" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col m12">
              <mat-form-field>
                <input matInput placeholder="Bank name" formControlName="bank" required>
              </mat-form-field>
            </div>
          </div>
      <div class="row">
          <div class="col m12">
            <mat-form-field>
              <input matInput placeholder="BVN" type="number" formControlName="bvn" required>
            </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="col m12">
          <mat-form-field>
            <input matInput placeholder="Bank branch" type="text" formControlName="bank_branch" required>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  